name: MetaBoard Subgraph CI
on: [push]

jobs:
  subgraph-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Start docker container
        run: docker-compose -f subgraph/docker/docker-compose.yml up -d
      
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: install npm dependencies
        working-directory: ./subgraph
        run: npm init

      - name: Run test
        run: cargo run --manifest-path metaboard-cli/Cargo.toml test -s script/

      - name: Stop docker container
        run: docker-compose -f subgraph/docker/docker-compose.yml down
